Repository memgraph/helm-charts, pull requests merged in 2025-09, with the labels that each got.

#164 Upgrade charts to 3.5
  charts/memgraph-high-availability/Chart.yaml
  charts/memgraph-high-availability/values.yaml
  charts/memgraph-lab/Chart.yaml
  charts/memgraph/Chart.yaml
Labels: memgraph-ha, memgraph-lab, memgraph

#166 feat: Support defining custom command for container probes
  charts/memgraph/templates/_helpers.tpl
  charts/memgraph/values.yaml
Labels: enhancement, memgraph

#170 feat: Add support for defining custom env variables
  charts/memgraph-high-availability/templates/coordinators.yaml
  charts/memgraph-high-availability/templates/data.yaml
  charts/memgraph-high-availability/values.yaml
  charts/memgraph/templates/statefulset.yaml
  charts/memgraph/values.yaml
Labels: memgraph-ha, memgraph, customer

#171 Fix .Values.service.enableBolt not being used
  charts/memgraph/templates/service.yaml
Labels: memgraph

#169 feat: Add HA test in the CI
  .github/workflows/lint-test-high-availability.yaml
  charts/memgraph-high-availability/storage-class.yaml
  charts/memgraph-high-availability/templates/tests/test-connection.yaml
  charts/memgraph/README.md
  charts/memgraph/templates/tests/test-connection.yaml
Labels: enhancement, memgraph-ha, memgraph
