Repository memgraph/helm-charts, pull requests merged in 2025-01, with the labels that each got.

#97 Improve AKS and AWS docs
  charts/memgraph-high-availability/README.md
  charts/memgraph-high-availability/aks/README.md
  charts/memgraph-high-availability/aws/README.md
  charts/memgraph-high-availability/templates/NOTES.txt
  charts/memgraph-high-availability/values.yaml
Labels: documentation

#99 HA chart improvements
  README.md
  charts/memgraph-high-availability/README.md
  charts/memgraph-high-availability/aks/README.md
  charts/memgraph-high-availability/aws/README.md
  charts/memgraph-high-availability/templates/coordinators.yaml
  charts/memgraph-high-availability/templates/data.yaml
  charts/memgraph-high-availability/templates/services-coordinators-external.yaml
  charts/memgraph-high-availability/templates/services-coordinators.yaml
  charts/memgraph-high-availability/templates/services-data-external.yaml
  charts/memgraph-high-availability/templates/services-data.yaml
  charts/memgraph-high-availability/templates/tcp-services-configmap.yaml
  charts/memgraph-high-availability/templates/tests/test-cluster-setup.yaml
  charts/memgraph-high-availability/templates/tests/test-connection.yaml
  charts/memgraph-high-availability/values.yaml
Labels: high-availability

#110 Simplify installation of Memgraph HA chart using IngressNginx
  charts/memgraph-high-availability/README.md
  charts/memgraph-high-availability/templates/ingress-nginx-namespace.yaml
  charts/memgraph-high-availability/templates/ingress-nginx.yaml
  charts/memgraph-high-availability/templates/tcp-services-configmap.yaml
  charts/memgraph-high-availability/templates/tests/test-cluster-setup.yaml
  charts/memgraph-high-availability/templates/tests/test-connection.yaml
  charts/memgraph-high-availability/values.yaml
Labels: memgraph-ha

#106 Update security context for HA chart
  charts/memgraph-high-availability/templates/coordinators.yaml
  charts/memgraph-high-availability/templates/data.yaml
Labels: memgraph-ha

#109 Update security context for standalone chart
  charts/memgraph/templates/statefulset.yaml
Labels: memgraph

#95 add userStorageAccessMode for UserClaim
  charts/memgraph/README.md
  charts/memgraph/templates/statefulset.yaml
  charts/memgraph/values.yaml
Labels: enhancement, memgraph

#104 Move HA docs to memgraph docs
  charts/memgraph-high-availability/README.md
  charts/memgraph-high-availability/templates/NOTES.txt
Labels: documentation, memgraph-ha

#111 Use Memgraph 3.0.0
  charts/memgraph-high-availability/Chart.yaml
  charts/memgraph-high-availability/templates/coordinators.yaml
  charts/memgraph-high-availability/templates/data.yaml
  charts/memgraph-high-availability/values.yaml
  charts/memgraph/Chart.yaml
  charts/memgraph/templates/statefulset.yaml
Labels: bug, enhancement, memgraph-ha, memgraph
