Repository memgraph/helm-charts, pull requests merged in 2025-03, with the labels that each got.

#117 Rename ports to support Istio Service Mesh integration
  charts/memgraph-high-availability/aks/README.md
  charts/memgraph-high-availability/templates/ingress-nginx.yaml
  charts/memgraph-high-availability/templates/services-coordinators-external.yaml
  charts/memgraph-high-availability/templates/services-coordinators.yaml
  charts/memgraph-high-availability/templates/services-data-external.yaml
  charts/memgraph-high-availability/templates/services-data.yaml
  charts/memgraph/README.md
  charts/memgraph/templates/service.yaml
  charts/memgraph/values.yaml
Labels: memgraph-ha, memgraph

#119 Bump versions to 3.1
  charts/memgraph-high-availability/Chart.yaml
  charts/memgraph-high-availability/values.yaml
  charts/memgraph-lab/Chart.yaml
  charts/memgraph/Chart.yaml
Labels: memgraph-ha, memgraph-lab, memgraph

#120 Bugfix: Use NuRaft server for probing coordinators
  charts/memgraph-high-availability/Chart.yaml
  charts/memgraph-high-availability/templates/_helpers.tpl
  charts/memgraph-high-availability/templates/coordinators.yaml
  charts/memgraph-high-availability/templates/data.yaml
  charts/memgraph-high-availability/values.yaml
Labels: memgraph-ha

#125 Adding recommendations to memory usage and image tags
  charts/memgraph-high-availability/values.yaml
  charts/memgraph/templates/NOTES.txt
  charts/memgraph/values.yaml
Labels: documentation
