Repository memgraph/helm-charts, pull requests merged in 2025-05, with the labels that each got.

#139 Add support for Memgraph Prometheus exporter in the K8s
  charts/memgraph-high-availability/Chart.lock
  charts/memgraph-high-availability/Chart.yaml
  charts/memgraph-high-availability/templates/mg-exporter.yaml
  charts/memgraph-high-availability/templates/services-coordinators.yaml
  charts/memgraph-high-availability/templates/services-data.yaml
  charts/memgraph-high-availability/values.yaml
Labels: enhancement, memgraph-ha

#140 Bugfix: Fix repository name for Memgraph exporter
  charts/memgraph-high-availability/values.yaml
Labels: bug, memgraph-ha

#141 Add core dumps PVC
  README.md
  charts/memgraph-high-availability/templates/coordinators.yaml
  charts/memgraph-high-availability/templates/data.yaml
  charts/memgraph-high-availability/values.yaml
  charts/memgraph/templates/statefulset.yaml
  charts/memgraph/values.yaml
  scripts/aks.bash
Labels: breaking
